#header-company-name {
    font-family: "Playfair Display", "cinzel" !important;
    font-size: 32px !important;
}

#footer-company-name {
    font-family: "Playfair Display", "cinzel" !important;
    font-size: 28px !important;
    color: white !important;
    /*    background-color: white !important;*/
}

#source-serif-4 {
    color: unset !important;
}

#header-slogan {
    font-family: "Source Serif 4", serif !important;
    font-size: 24px !important;
    font-weight: bold !important;
}

#search {
    border-radius: 2px !important;
}


.text-xl {
    font-family: "Source Serif 4", serif !important;
    font-size: 25px !important;
    color: aliceblue !important;
    background-color: #2E592C !important;
    padding: 2px 8px;
}

.category-item {
    border-radius: 2px !important;
}

/*.max-w-4xl {
    padding: 12px 13px !important

}*/

.text-gray-600 {
    color: aliceblue !important;
    font-weight: bold !important;
}



.p-1 {
    color: aliceblue !important;
}

#footer-credits {
    color: aliceblue !important;
}

;