#header-company-name {
    font-family: "Playfair Display", "cinzel" !important;
    font-size: 32px !important;
}

#header-slogan {
    font-family: "Source Serif 4", serif !important;
    font-size: 26px !important;
}

#search {
    border-radius: 2px !important;
}


#h2 {
    font-family: "Source Serif 4", serif !important;
    font-size: 20px !important;
}

#search-button {
    border-radius: 2px !important;
}

;